body{
	background-position:top left;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-color:#19192E;
	margin: 3em 0;
/*	font-family:'Gentium Book Basic'; */
	line-height:1.5;
	font-size:1.125rem;
	font-weight:400;}
h1{
	font-weight:normal;
	text-align:center;}
#container {
	background-color:#303043;
	width: 1000px;
	height: 150px;
	text-align: center;
	float: center;
	margin: auto;
}
#bar{
	background-color:#000026;
	color:#FFA500;
	margin: 2px 0px;
	width: 1000px;		
	height: 35px;
	float: left;
}
#barMenu{list-style: none;}
#barMenu li{
	float: left;
	margin: -11px 6.3em;
	font-size: 14pt;
}
#barMenu li a{
	text-decoration: none;
	color:#FFA500;
}
#barMenu li a:hover { color: #FFFF00;}
#barMenu li a:visited {color: #FFA500}
#email {
	color:#FF3399;
	position:relative;
	top:-1.5em;
	line-height:1;}
#information {
	color:#FF3399;}
#name {
/* font-family: 'Computer Modern', Bookman, sans serif; */
color: white;
margin-bottom:1em;}
#container2 {
	background-color: #000026;
	width: 1050px;
	height: 600px;
	margin: auto;
}
#container2 h3{color:#E65C00; text-align: center; font-size:25px;}
#list, #gameList {list-style: none;}
#list li, #gameList li{
	background-color:#303043;
	width: 905px;
	height: 50px;
	float: center;
	margin: 30px 30px;
	text-align: center;
	font-size: 14pt;
}
#list li a, #gameList li a{
	display: inline-block;
	text-decoration: none;
	color:#3399FF;
	margin-top: 0.6em;
}
